<div>
  <div
    class="navbar bg-light"
    style="border-bottom: 1px solid lightgray; box-shadow: none"
  >
    <nav class="container" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="#">Polos</a>
        </li>
      </ol>
    </nav>
    <div class="container align-items-center">
      <h4>Polos</h4>
    </div>
  </div>
</div>
