<div class="container">
  <h3>Measurements</h3>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle checked value="italic">In</mat-button-toggle>
    <mat-button-toggle value="underline">Cm</mat-button-toggle>
  </mat-button-toggle-group>
  <br />
  <p style="margin-top: 5px; font-weight: lighter">
    You have a higher chance of selling your piece if you add all the
    measurements
  </p>

  <mat-grid-list cols="3" rowHeight="6:1">
    <mat-grid-tile>
      <div class="container-fluid">
        <mdb-form-control>
          <input mdbInput type="text" id="formControlLg" class="form-control" />
          <label mdbLabel class="form-label" for="formControlLg">
            <h6>
              Chest <i style="font-size: small; margin-right: 1px">(in)</i>
            </h6>
          </label>
        </mdb-form-control>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      ><div class="container-fluid">
        <mdb-form-control>
          <input mdbInput type="text" id="formControlLg" class="form-control" />
          <label mdbLabel class="form-label" for="formControlLg">
            <h6>
              Length <i style="font-size: small; margin-right: 1px">(in)</i>
            </h6>
          </label>
        </mdb-form-control>
      </div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="container-fluid">
        <mdb-form-control>
          <input mdbInput type="text" id="formControlLg" class="form-control" />
          <label mdbLabel class="form-label" for="formControlLg">
            <h6>
              Shoulders <i style="font-size: small; margin-right: 1px">(in)</i>
            </h6>
          </label>
        </mdb-form-control>
      </div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="container-fluid">
        <mdb-form-control>
          <input mdbInput type="text" id="formControlLg" class="form-control" />
          <label mdbLabel class="form-label" for="formControlLg">
            <h6>
              Sleeve Length
              <i style="font-size: small; margin-right: 1px">(in)</i>
            </h6>
          </label>
        </mdb-form-control>
      </div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="container-fluid">
        <mdb-form-control>
          <input mdbInput type="text" id="formControlLg" class="form-control" />
          <label mdbLabel class="form-label" for="formControlLg">
            <h6>
              Hem
              <i style="font-size: small; margin-right: 1px">(in)</i>
            </h6>
          </label>
        </mdb-form-control>
      </div></mat-grid-tile
    >
  </mat-grid-list>

  <button style="float: right" mat-button matStepperNext>Next</button>
</div>
