mat-grid-tile {
  background: lightblue;
}

.mat-button-toggle {
  background-color: #ffffff;
  color: #000000;
}

.mat-button-toggle-checked {
  background-color: #000000;
  color: #ffffff !important;
}
