<mat-grid-list gutterSize="6px" cols="3" rowHeight="3:1">
  <mat-grid-tile style="background-color: lightgray" rowspan="3">
    <div class="container-fluid d-flex justify-content-center">
      <i class="fa-4x fas fa-camera"></i>
    </div>
  </mat-grid-tile>
  <mat-grid-tile style="background-color: lightgray"
    ><div class="container-fluid d-flex justify-content-center">
      <i class="fas fa-2x fa-camera"></i></div
  ></mat-grid-tile>
  <mat-grid-tile style="background-color: lightgray"
    ><div class="container-fluid d-flex justify-content-center">
      <i class="fas fa-2x fa-camera"></i></div
  ></mat-grid-tile>
  <mat-grid-tile style="background-color: lightgray"
    ><div class="container-fluid d-flex justify-content-center">
      <i class="fas fa-2x fa-camera"></i></div
  ></mat-grid-tile>
  <mat-grid-tile style="background-color: lightgray"
    ><div class="container-fluid d-flex justify-content-center">
      <i class="fas fa-2x fa-camera"></i></div
  ></mat-grid-tile>
  <mat-grid-tile style="background-color: lightgray"
    ><div class="container-fluid d-flex justify-content-center">
      <i class="fas fa-2x fa-camera"></i></div
  ></mat-grid-tile>
  <mat-grid-tile style="background-color: lightgray"
    ><div class="container-fluid d-flex justify-content-center">
      <i class="fas fa-2x fa-camera"></i></div
  ></mat-grid-tile>
</mat-grid-list>

<button style="float: right" mat-button matStepperNext>Next</button>
