<div class="container" style="padding-top: 20px">
  <div class="d-flex flex-row mb-3">
    <div class="p-2">
      <button type="button" class="btn btn-light btn-floating">
        <i class="fas fa-arrow-left fa-2x"></i>
      </button>
    </div>
    <div class="p-2"><h3>Add a new Listing</h3></div>
  </div>

  <hr class="solid" />
  <mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!"
  >
    <mat-step [stepControl]="firstFormGroup" label="Details">
      <app-details-form></app-details-form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Measurements">
      <form [formGroup]="secondFormGroup">
        <app-measurements-form></app-measurements-form>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Pricing">
      <form [formGroup]="thirdFormGroup">
        <p>wow</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Shipping">
      <form [formGroup]="thirdFormGroup">
        <p>wow</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Photos">
      <form [formGroup]="thirdFormGroup">
        <p>wow</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
