<figure class="figure">
  <img
    [src]="slide.img"
    class="figure-img img-fluid shadow-3 mb-3 w-100"
    alt="..."
  />
  <figcaption class="figure-caption">
    2 Days Ago
    <hr class="solid" />
    <!-- <div class="row">
              <div class="col"><h6>Product Name</h6></div>
              <div class="col">
                <div class="flex-column justify-content-end">M</div>
              </div>
            </div> -->
    <div class="row">
      <div class="col">
        <div class="text-start"><h6>Product Name</h6></div>
      </div>
      <div class="col">
        <div class="text-end"><h6>M</h6></div>
      </div>
    </div>
    <div class="row" style="overflow: hidden">
      <p class="d-inline-block text-truncate" style="max-width: 250px">
        Product Description Lorem ipsum dolsdasdsit Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Ullam dolore tempora minima non quam,
        magnam, molestias laboriosam a odio, repellendus nostrum blanditiis nemo
        natus autem molestiae incidunt fuga dolor tenetur.
      </p>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-start"><h6>$56</h6></div>
      </div>
      <div class="col">
        <div class="text-end">
          <i class="fa fa-regular fa-heart"></i>
        </div>
      </div>
    </div>
  </figcaption>
</figure>
