<!-- <nav class="navbar navbar-expand-lg ms-auto sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Logo</a>
    <form class="d-flex input-group w-auto">
      <span
        class="input-group-text btn-outline-dark border-2"
        id="search-addon"
      >
        <i class="fas fa-search"></i>
      </span>
      <input
        type="search"
        class="form-control btn-outline-dark border-2"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-dark btn-light" type="button">
        Search
      </button>
    </form>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarExample01"
      aria-controls="navbarExample01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item me-3 me-lg-3">
          <a class="nav-link" href="#">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </li>

        <li mdbDropdown class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
          >
            <i class="fas fa-user"></i>
          </a>
          <ul
            mdbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">Action</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand text-white btn btn-dark mb-0 h1" href="#"
      >Brand Name</a
    >

    <!-- Search form -->
    <form class="d-flex input-group w-auto">
      <span
        class="input-group-text btn-outline-dark border-2"
        id="search-addon"
      >
        <i class="fas fa-search"></i>
      </span>
      <input
        type="search"
        class="form-control btn-outline-dark border-2"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-dark btn-light" type="button">
        Search
      </button>
    </form>
    <!-- Toggle button -->
    <div class="d-flex">
      <button
        class="navbar-toggler"
        type="button"
        (click)="basicNavbar.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        mdbCollapse
        #basicNavbar="mdbCollapse"
      >
        <!-- Right links -->

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              style="color: black"
              aria-current="page"
              href="#"
              >Sell</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: black" href="#">Explore</a>
          </li>

          <li class="nav-item me-3 me-lg-3">
            <a class="nav-link" style="color: black" href="#">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>

          <li mdbDropdown class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              mdbDropdownToggle
              aria-expanded="false"
              style="color: black"
            >
              <i class="fas fa-user"></i>
            </a>
            <ul
              mdbDropdownMenu
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">Action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another action</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- Right links -->
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
