<header>
  <!-- Mini-Navbar -->
  <app-mini-nav></app-mini-nav>
  <!-- Mini-Navbar -->

  <!-- Jumbotron -->
  <app-jumbotron></app-jumbotron>
  <!-- Jumbotron -->

  <!-- TrendListCategory -->
  <app-image-list [images]="imagesTrend"></app-image-list>
  <!-- ListCategory -->

  <!-- TrendListCategory -->
  <app-image-list [images]="imagesStyle"></app-image-list>
  <!-- TrendListCategory -->

  <!-- CollectionsList -->
  <app-featured></app-featured>
  <!-- CollectionsList -->

  <!-- BrandList -->
  <app-brand-list [images]="imagesBrand"></app-brand-list>
  <!-- BrandList -->

  <!-- ProductList -->
  <app-product-list [slides]="slides"></app-product-list>
  <!-- ProductList -->
  <br />
  <!-- Links  -->
</header>
