<div class="container" style="margin-top: 30px">
  <div class="d-flex flex-column mb-3">
    <div class="display-6 text-black" style="margin-bottom: 10px">
      Featured Collections
    </div>
    <div class="row">
      <div class="col">
        <figure class="figure">
          <img
            src="https://process.fs.grailed.com/AJdAgnqCST4iPtnUxiGtTz/auto_image/cache=expiry:max/rotate=deg:exif/resize=width:580/output=quality:70/compress/https://process.fs.grailed.com/MFLi2L8ReqjJGjCnBvGw"
            class="figure-img img-fluid shadow-3 mb-3"
            alt="..."
          />
          <figcaption class="figure-caption text-left p-2">
            <h6 style="color: black">Iced Out Deals</h6>
            <p>Shop the latest hyper techno wear</p>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        <figure class="figure">
          <img
            src="https://process.fs.grailed.com/AJdAgnqCST4iPtnUxiGtTz/auto_image/cache=expiry:max/rotate=deg:exif/resize=width:580/output=quality:70/compress/https://process.fs.grailed.com/9BqWNCrTCu7O6Rbel8Gc"
            class="figure-img img-fluid shadow-3 mb-3"
            alt="..."
          />
          <figcaption class="figure-caption text-left p-2">
            <h6 style="color: black">Hyper Outwear</h6>
            <p>Shop the latest hyper techno wear</p>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        <figure class="figure">
          <img
            src="https://process.fs.grailed.com/AJdAgnqCST4iPtnUxiGtTz/auto_image/cache=expiry:max/rotate=deg:exif/resize=width:580/output=quality:70/compress/https://process.fs.grailed.com/ryDrUdATWK4oLmCG1QJi"
            class="figure-img img-fluid shadow-3 mb-3"
            alt="..."
          />
          <figcaption class="figure-caption text-left p-2">
            <h6 style="color: black">High Top Heat</h6>
            <p>Shop the latest hyper techno wear</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
