<div class="container">
  <div class="p-3 bg-light">
    <mdb-carousel class="carousel-dark" [animation]="'fade'">
      <mdb-carousel-item [interval]="1000">
        <div class="container-sm">
          <div class="row">
            <div class="col-4 p-5">
              <h6>Type</h6>
              <h1>h1. MDB heading</h1>
              <br />
              <br />
              <br />
              <button type="button" class="btn btn-dark">Dark</button>
            </div>
            <div class="col-8">
              <img
                src="https://process.fs.grailed.com/AJdAgnqCST4iPtnUxiGtTz/auto_image/cache=expiry:max/rotate=deg:exif/output=quality:90/compress/https://process.fs.grailed.com/9BqWNCrTCu7O6Rbel8Gc"
                class="fixed-size-img-header"
                alt="..."
              />
            </div>
          </div>
        </div>
      </mdb-carousel-item>

      <mdb-carousel-item [interval]="1000">
        <div class="container-sm">
          <div class="row">
            <div class="col-4 p-5">
              <h6>Type</h6>
              <h1>h1. MDB heading</h1>
              <br />
              <br />
              <br />
              <button type="button" class="btn btn-dark">Dark</button>
            </div>
            <div class="col-8">
              <img
                src="https://process.fs.grailed.com/AJdAgnqCST4iPtnUxiGtTz/auto_image/cache=expiry:max/rotate=deg:exif/output=quality:90/compress/https://process.fs.grailed.com/ryDrUdATWK4oLmCG1QJi"
                class="fixed-size-img-header"
                alt="..."
              />
            </div>
          </div>
        </div>
      </mdb-carousel-item>

      <mdb-carousel-item [interval]="1000">
        <div class="container-sm">
          <div class="row">
            <div class="col-4 p-5">
              <h6>Type</h6>
              <h1>h1. MDB heading</h1>
              <br />
              <br />
              <br />
              <button type="button" class="btn btn-dark">Dark</button>
            </div>
            <div class="col-8">
              <img
                src="https://process.fs.grailed.com/AJdAgnqCST4iPtnUxiGtTz/auto_image/cache=expiry:max/rotate=deg:exif/output=quality:90/compress/https://process.fs.grailed.com/MFLi2L8ReqjJGjCnBvGw"
                class="fixed-size-img-header"
                alt="..."
              />
            </div>
          </div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
    <!-- <h4 class="mb-3">Subheading</h4>
    <a class="btn btn-primary" href="" role="button">Call to action</a> -->
  </div>
</div>
